<h1>Welcome to DJTTP</h1>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<%= flash[:error] %>
<br>
<br>
Create a Guest Account
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
Name  <%= f.text_field :display_name %>
Password:  <%= f.password_field :password %>
Password Confirmation: <%= f.password_field :password_confirmation %>
Email: <%= f.email_field :email %>
Favorite Songs: <%= f.fields_for :songs do |s| %>
<%= s.text_field :name %>
<% end %>
<%= f.submit %>
<% end %>
<br>
Sign In 
<%= form_for :user, url: {controller: "users", action: "login", method: "post"} do |f|%>
Name:  <%= f.text_field :display_name %>
Password:  <%= f.password_field :password %>
<%= f.submit "Login" %>
<% end %>
