<h1>Event#show</h1>
<%= @event.date %>
<%= @event.name %>
<% @event.guests.each do |guest| %>
  <%= guest.display_name %>
<% end %>
<%= @event.playlist.url %>
<%= link_to("RSVP", :controller => :events, :action => :guest) %>
<%= link_to("Refresh Playlist", :controller => :events, :action=> :refresh_playlist) %>
